# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.scrapsy.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\sondi\RiderProjects\scrapsy\.idea\.idea.scrapsy\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
